{% extends 'base.html.twig' %}

{% block title %}Movies page{% endblock %}

{% block body %}
{# below _self prints the current file name, very cool! #}
{# {{ _self }} #}
{# below shows charset #}
{# {{ _charset }} #}
{# below shows value defined in twig.yml globals author  #}
{# {{ author }} #}
    <h1>{{ title }}</h1>
    {% for movie in movies %}
        <div>{{ movie }}</div>
    {% endfor %}
{% endblock %}